{block content}
<div class="register_background">
 <div class="register_container">
  <h2 class="register_title">Register</h2>

  {control registerForm}

  <div class="under_section">
  <a class="forgotten_password">Zapomněli jste heslo ?</a>
  </div>
 </div>
</div>
{/block}
  
  

