.welcome_png {
    height: 500px;
}

#main_row1 {
    margin: auto;
    text-align: center;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 50px 20px;
}


.welcome_background {
    margin-left: 100px;
    margin-top: 50px;
}

#welcome_btn {
    margin-top: 20px;
    padding: 20px 40px;
}


    