/*Login*/

th {
    text-align: right !important;
    
}

#frm-signForm {
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
  padding: 6px 0px;
  border-radius: 5px;
  box-sizing: border-box;
}

.login_title {
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.forgotten_password {
    text-align: center;

}

.under_section {
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.login_container {
    background-color: rgb(255, 255, 255);
    margin-right: 150;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}

.login_background {

    background-image: url(../img/pozadiPrihlaseni.png);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat:repeat;
    padding-top: 10px;
    padding-bottom: 40px;
}

/*Register*/

table {
    margin: auto;
    width: 60%;
}

.register_text {
    margin-top: 5px;
}

.register_title {
text-align: center;
padding-bottom: 20px;
}

.register_background {
    background-image: url(../img/pozadiRegistrace.png);
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.register_container {

    background-color: rgb(255, 255, 255);
    margin-right: 150;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    padding: 50px 

}

.button {
    background-color: rgb(15, 112, 15);
    color: aliceblue;
    border-radius: 10px;
}

.required {
    margin-right: 5px;
}

.text {
    border-color: rgb(219, 219, 219);
}

.td:active {
    border-color: rgb(189, 189, 189);
}

#frm-registerForm-name, #frm-registerForm-surname, #frm-registerForm-email {

    margin-bottom: 10px ;
}


