/*Footer*/
.text-reset {
    color: rgb(255, 255, 255) !important;
}

.contact_item {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    color: inherit!important;
}

/*Header*/

